<!doctype html>
<html>
    <head>
        <title>minimal pyrs</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimal-ui">
        <link rel="stylesheet" href="static/assets/stylesheets/bootstrap.min.css">
        <link rel="stylesheet" href="static/assets/stylesheets/custom.css">
        <script src="static/js/jquery-3.2.1.min.js"></script>        
        <script src="static/js/bootstrap.min.js"></script>
<script src="static/js/load.js"></script>
    </head>
    <body>
        <div class='container'>
          <div class='row'>
            <div class='col-xs-12'>
                <h2>choose a minimal pair to work on</h2>
            </div>
          </div>
          <div class='row'>
            <div class='col-xs-12'>
              <div class='directoryButtons'></div>
            </div>
        </div>
    </body>
</html>
